/* CSS file */
/* CSS for my home page */
/* Setting the background for my home page */
.HomepageBackground {
	background-color:PowderBlue;
	font-family: Georgia;
}
/* Setting the background for the list as well as moving it to the center */
.ListBackground {
	margin: auto;
	text-align: center;
	background-color:#9EC2C8;
	width: 700px;
	height: 830px;
	border-style: solid;
	border-color:black;
	font-family: Monaco, Arial;
}
/* Editing the text in the list */
.ListText {
	display: inline-block;
	text-align: left;
	font-size:20px;
}
/* Setting the size for the posters that link to each countrys page */
.poster {
	height:18%;
	width:18%;
	transition: width 0.5s, height 0.5s;
}
/* Make the animation so that the poster pops out when you hover over it */
.poster:hover{
	width: 21%;
	height: 21%;
}
/* Set the background for the home page */
#HomeBackground{
	background-color:#9EADC8;
}
/* Create the top box for the posters and the title */
#HomeTop{
	margin: auto;
	text-align: center;
	background-color:#C8B99E;
	border-style: solid;
	border-color:black;
	font-size:180%;
	font-family: Monaco, Arial;
}
/* Create boxes and change the text for the information paragraphs on the home page */
.HomeInformation{
	margin: auto;
	text-align: center;
	background-color:#7D91B6;
	width: 1300px;
	border-style:solid;
	border-color:black;
	font-family: Monaco, Arial;
}

.HomeBottom{
	font-family: Monaco, Arial;
	text-align: center;
	font-size: 20px;
}

.Validator{
	width: 10%;
	height: 5%;
}

.Source{
	font-size: 5%;
}

.SwedenTitle{
	font-size:60px;
	color:#005B8E;
}

.SwedenBackground{
	background-color:#FFF6CF;
	text-align: center;
	font-family: Monaco, Arial;
}

.SwedenInformation{
	margin: auto;
	text-align: center;
	background-color:#FFE78B;
	width: 1300px;
	border-style:solid;
	border-color:black;
}
	
.FinlandTitle{
	font-size:60px;
	color:#1B467D;
}

.FinlandBackground{
	background-color:#D4E1F1;
	text-align: center;
	font-family: Monaco, Arial;
}

.FinlandInformation{
	margin: auto;
	text-align: center;
	background-color:#ABD2FC;
	width: 1300px;
	border-style:solid;
	border-color:black;
}

.IsraelTitle{
	font-size:60px;
	color:#003AB7;
}

.IsraelBackground{
	background-color:#D9E5FF;
	text-align: center;
	font-family: Monaco, Arial;
}

.IsraelInformation{
	margin: auto;
	text-align: center;
	background-color:#ACCAFF;
	width: 1300px;
	border-style:solid;
	border-color:black;
}

.ItalyTitle{
	font-size:60px;
	color:#CF2B36;
}

.ItalyBackground{
	background-color:#CFEEDE;
	text-align: center;
	font-family: Monaco, Arial;
}

.ItalyInformation{
	margin: auto;
	text-align: center;
	background-color:#A4F5CB;
	width: 1300px;
	border-style:solid;
	border-color:black;
}


.NorwayBackground{
	background-color:#F8D4D4;
	text-align: center;
	font-family: Monaco, Arial;
}

.NorwayTitle{
	font-size:60px;
	color:#0F2365;
}

.flag {
	height: 50px;
	width: 80px;
}

.total{
	background-color:Gold;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width:50%;
  font-size:20px;
  background-color:LightCyan;
}

#References{
	background-color:#A4D6F5;
	font-size: 20px;
	font-family: Monaco, Arial;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}    

p{
	padding-right: 10%;
	padding-left: 10%;
	font-size: 20px;
}

h2{
	font-size:30px;
}

.stars{
	width: 640px;
	height: 150px;
}

.CountryLink{
	font-size: 30px;
}

